language: julia
os:
  - osx
  - linux
julia:
  - "0.7"
  - "1.0"
  - "1.1"
  - nightly
notifications:
  email: false
after_success:
  - julia -e 'using Pkg; Pkg.dir("CpuId"); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
